.info {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.info > div {
    flex: 1;
}


h1 {
    text-align: center;
    color: blue;
}

.lastweek {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.topic {
    grid-row: 1;
}
.idea {
    grid-column: 1;
}

.examples {
    grid-column: 2;
}

.box {
    border-style: inset;
    border-color: rgb(73, 10, 10) #32a1ce;
    border-width: 1em;
    border-radius: 40px;
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
}

.title {
    color: hsl(19, 100%, 12%);
    text-align: center;
    font-family:monospace;
}

* {
    font-family:monospace;
}

.info {
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
}

form {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}